<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="al.aldi.tope"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/tope_icon"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Holo"
        android:screenOrientation="portrait"
        >
        <activity
            android:name="al.aldi.tope.Tope"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="al.aldi.tope.view.Clients"
            android:label="@string/title_activity_clients"
            android:parentActivityName="al.aldi.tope.Tope" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="al.aldi.tope.Tope" />
        </activity>
        <activity
            android:name="al.aldi.tope.view.ClientAddEditActivity"
            android:label="@string/title_activity_client_add_edit" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="al.aldi.tope.view.Clients" />
        </activity>
        <activity
            android:name="al.aldi.tope.view.ParametersActivity"
            android:label="@string/title_activity_parameters"
            android:parentActivityName="al.aldi.tope.Tope" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="al.aldi.tope.Tope" />
        </activity>
    </application>

</manifest>